
Skip to content
Pull requests
Issues
Trending
Explore
@devmotion
TuringLang /
MCMCChains.jl

95

Code
Issues 13
Pull requests 1
Actions

    Releases55

More
MCMCChains.jl/.github/workflows/CI.yml
@devmotion
devmotion Switch from Travis to Github Actions (#254)
Latest commit 6edc228 2 days ago
History
1 contributor
59 lines (57 sloc) 1.7 KB
name: CI

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  test:
    runs-on: ${{ matrix.os }}
    continue-on-error: ${{ matrix.version == 'nightly' }}
    strategy:
      matrix:
        version:
          - '1.0'
          - '1'
          - nightly
        os:
          - ubuntu-latest
          - macOS-latest
          - windows-latest
        arch:
          - x86
          - x64
        num_threads:
          - 1
          - 2
        exclude:
          - os: windows-latest
            arch: x86
          - os: macOS-latest
            arch: x86
          - version: '1.0'
            num_threads: 2
        include:
          - version: '1'
            os: ubuntu-latest
            arch: x64
            num_threads: 1
            coverage: true
    steps:
      - uses: actions/checkout@v2
      - uses: julia-actions/setup-julia@v1
        with:
          version: ${{ matrix.version }}
          arch: ${{ matrix.arch }}
      - uses: actions/cache@v1
        env:
          cache-name: cache-artifacts
        with:
          path: ~/.julia/artifacts
          key: ${{ runner.os }}-test-${{ env.cache-name }}-${{ hashFiles('**/Project.toml') }}
          restore-keys: |
            ${{ runner.os }}-test-${{ env.cache-name }}-
            ${{ runner.os }}-test-
            ${{ runner.os }}-
      - uses: julia-actions/julia-buildpkg@latest
      - uses: julia-actions/julia-runtest@latest
        env:
          JULIA_NUM_THREADS: ${{ matrix.num_threads }}
      - uses: julia-actions/julia-processcoverage@v1
        if: matrix.coverage
      - uses: codecov/codecov-action@v1
        if: matrix.coverage
        with:
          file: lcov.info
      - uses: coverallsapp/github-action@master
        if: matrix.coverage
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          path-to-lcov: lcov.info
